---
layout: home
title: Home
---
					<div class="jumbotron">
						<div class="container">
					  <h1 class="display-4">Hi, I'm John-Paul.</h1>
						<p class="lead">I'm a content designer working at the <a href="https://www.gov.uk/government/organisations/government-digital-service" target="_blank">Government Digital Service</a> on <a href="https://www.gov.uk" target="_blank">GOV.UK</a>.</p>
</div>
					</div>

					<div class="container">
					    <main role="main">
					      <div class="row">
<div class="col-md-4">
											<h3>Recent posts</h3>
					        <div class="col-md-8">
				<ul class="list-unstyled">
{% for post in site.posts limit:3 %}

 {% if post.external_url %}
 <li><p class="lead"><a href="{{ post.external_url }}">{{ post.title }} <i class="fas fa-external-link-alt"></i></a> <small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date_to_long_string }}</small></p></li>
 {% else %}
<li><p class="lead"><a href="{{ post.url }}">{{ post.title }}</a> <small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date_to_long_string }}</small></p></li>
 {% endif %}

 {% endfor %}</ul>
<p><a href="/blog" class="btn btn btn-outline-secondary btn-sm">Read more posts</a></p>
</div>
</div>
		</main>
