
<form>
    <div class="form-group form-check">
    <input class="form-check-input" type="radio" id="enable-measurement-cookies" name="measurement-cookies" value="on">
    <label class="form-check-label" for="enable-measurement-cookies">Use cookies that measure my website use</label>
  </div>
<div class="form-group form-check">
    <input class="form-check-input"  type="radio" id="disable-measurement-cookies" name="measurement-cookies" value="off">
    <label class="form-check-label" for="disable-measurement-cookies">Do not use cookies that measure my website use</label>
  </div>
  </form>

<noscript>
<p>JavaScript is used to set cookies. Unfortunately Javascript is not running on your browser, so you cannot change your settings. You can try:</p>

<ul>
<li>reloading the page</li>
<li>turning on JavaScript in your browser</li>
</ul>
</noscript>

<script>
if (getCookie("cookie-policy") == "true") {
  document.getElementById("enable-measurement-cookies").checked = true;
} else {
  document.getElementById("disable-measurement-cookies").checked = true;
}


document
  .getElementById("enable-measurement-cookies")
  .addEventListener("click", function () {
    setCookie("cookie-policy", "true", 31);
  });

document
  .getElementById("disable-measurement-cookies")
  .addEventListener("click", function () {
    setCookie("cookie-policy", "false", 31);
    stopGA("{{ site.google-analytics }}", "{{ site.google-analytics-domain }}");
  });
</script>