
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <div class="container">

    </div>
      <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample10" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if page.url == "/" %}active{% endif %}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item {% if page.url == "/blog/index.html" %}active{% endif %}">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item {% if page.url == "/archive" %}active{% endif %}">
          <a class="nav-link" href="/archive">Archive</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
