@import url(//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);

body {
	padding: 30px;
	border-top: 10px solid #ffbf47
	}
	
.maxwidth {
	margin: auto;
    	width: 90%;
    	max-width: 900px;
	}

.medium a, .medium p, .medium small{
	color: #ffffff
}
.medium #feedoffset p {
	color: #000000;
}
