@import url(//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);

body {
		border-top: 10px solid #ffbf47
	}

.home{
		padding: 30px;
	}

.page {
		padding-top: 80px;
		}

.maxwidth {
	margin: auto;
    	width: 90%;
    	max-width: 900px;
	}

.medium a, .medium p, .medium small{
	color: #ffffff
}
.medium #feedoffset p {
	color: #000000;
}
