---
layout: page
title: Blog
pagination:
  enabled: true
---

<p class="lead">Get updates to this blog through <a href="/feed.xml">RSS</a>.</p>

{% for page in paginator.posts %}
<ul class="list-unstyled">
   <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

     {% if page.external_url %}
     <header class="post-header">
       <h3 itemprop="name headline"><a href="{{ page.external_url }}">{{ page.title | escape }} <i class="fas fa-external-link-alt"></i></a></h3>
     </header>
     <p><time class="date" datetime="{{ page.date | date_to_long_string }}">{{ page.date | date_to_long_string }}</time></p>
 {% else %}
 <header class="post-header">
   <h3 itemprop="name headline"><a href="{{ page.url }}">{{ page.title | escape }}</a></h3>
 </header>
 <p><time class="date" datetime="{{ page.date | date_to_long_string }}">{{ page.date | date_to_long_string }}</time></p>
 {% endif %}

   </article>
   </ul>
 {% endfor %}

 <!-- Pagination links -->
 {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
