<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   {% if page.title %}
  <title>{{ page.title }} - John-Paul Dickie</title>
  {% else %}
  <title>John-Paul Dickie</title>
  {% endif %}

   <link rel="shortcut icon" href="{{ "/assets/img/jp.png" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" />

   <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">

     </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">John-Paul Dickie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
  </div>
</nav>

   <div class="row">
	<div class="col maxwidth">


    {{ content }}

	<hr>
<div>
				   <footer>
      <p class="float-right"></p>
        <p><a href="{{ site.url }}">John-Paul Dickie</a></p>
      </footer>
</div>
	   </div>
		  </div>
	  </div>
</body>
</html>
